<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All MyTest Suite">
    <test verbose="2" preserve-order="true" name="MyTest.java">
        <classes>
            <class name="MyTest"/>
            <class name="test.java.Test2"/>
        </classes>
    </test>
</suite>